/*                   Top Nav Syles                 */
.topnav {
    background-color: #000b29;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.topnav .links {
    display: flex;
}

.topnav a {
    color: #f8f5f2;
    text-align: center;
    padding: 16px 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.topnav a:hover {
    background-color: #edb83d;
}

.active {
    background-color: #edb83d;
}

.topnav .icon {
    display: none;
}

#logo {
    float: left;
    border-radius: 0.05em;
    block-size: 4em;
}

/*  Jumbotron Image */
.jumbotron {
    background-image: url('../img/hero.jpeg');
    background-size: cover;
}

#row{
    background: #edb83d;
}


/*  Business Info */
#hours {
    flex-flow: column;
    padding: 0 1em;
    float: right;
    }


/*  Map */
#map {
    flex-flow: row;
    max-width: 50%;
    height: 400px;
    background-color: grey;
  }

/* Mobile */
@media screen and (max-width: 800px) {
    /* Nav */
    .topnav {
        flex-flow: column;
    }

    .topnav .logowrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
    }

    .topnav .logowrapper span {
        color: white;
        font-size: 1.5em;
        display: flex;
        align-items: center;
    }

    .topnav .icon {
        display: block;
    }

    .topnav .links {
        display: none;
        padding-top: 1em;
    }

    .topnav .links.visible {
        display: block;
    }

    /* Jumbotron */
    .jumbotron {
        border-radius: 0;
    }
}

/* Helper Classes */
.block {
    display: block;
}

.about-image {
    max-width: 300px;
}