/*                   Top Nav Syles                 */
.topnav {
    background-color: #000b29;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.topnav .links {
    display: flex;
}

.topnav a {
    color: #f8f5f2;
    text-align: center;
    padding: 16px 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.topnav a:hover {
    background-color: #edb83d;
}

.active {
    background-color: #edb83d;
}

.topnav .icon {
    display: none;
}

#logo {
    float: left;
    border-radius: 0.05em;
    block-size: 4em;
}

/*  Jumbotron Image */
.jumbotron {
    background-image: url('../img/hero.jpeg');
    background-size: cover;
}

#row{
    background: #edb83d;
}

.row {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* Services Summary Classes */
.centerColumnHorizontal {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.services img {
    height: 200px;
}

/* About Section Classes */
.aboutimg {
    margin-top: 3rem!important;
}
.aboutSection {
    margin-top: 4.5em !important;
}

/*  Business Info */
#hours {
    flex-flow: column;
    padding: 0 1em;
    float: right;
    text-align: center;
    margin-top: 1.5em !important;
    }

/*  Map */
#map {
    min-height: 400px;
    background-color: grey;
  }
  
/* Mobile Media Queries */
@media screen and (max-width: 800px) {
    /* Nav */
    .topnav {
        flex-flow: column;
    }

    .topnav .logowrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
    }

    .topnav .logowrapper span {
        color: white;
        font-size: 1.5em;
        display: flex;
        align-items: center;
    }

    .topnav .icon {
        display: block;
    }

    .topnav .links {
        display: none;
        padding-top: 1em;
    }

    .topnav .links.visible {
        display: block;
    }

    /* mobile map */
    #map {
        max-height: 200px;
        background-color: grey;
      }

    /* mobile business info */
    #hours {
        text-align: center;
        font-size: 2em;
        }
    }

/* Jumbotron */
.jumbotron {
    border-radius: 0;
    }

/* End Media Query  */


/* Helper Classes */
.block {
    display: block;
}

.about-image {
    max-width: 300px;
}

/* footer */
.footer {
    background-color: #000b29;  
}

.footer a {
    color: #f8f5f2;
    padding: 16px 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1em;
    display: flex;
}